.Container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  :global {
    .info {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

    }
  }
}